function Reflector.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
push constant 4
neg
pop this 0
push constant 40
neg
pop this 1
push constant 0
pop this 3
push constant 0
pop this 4
push constant 2000
pop this 5
push constant 0
pop this 6
push pointer 0
return
function Reflector.getHitbox 0
push argument 0
pop pointer 0
push this 4
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
return
label IF_FALSE0
push this 0
push constant 5
add
return
function Reflector.getY 0
push argument 0
pop pointer 0
push this 1
return
function Reflector.getFloor 0
push argument 0
pop pointer 0
push this 2
return
function Reflector.getDirection 0
push argument 0
pop pointer 0
push this 4
return
function Reflector.isActive 0
push argument 0
pop pointer 0
push this 3
return
function Reflector.getDuration 0
push argument 0
pop pointer 0
push this 5
return
function Reflector.getCooldown 0
push argument 0
pop pointer 0
push this 6
return
function Reflector.setX 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Reflector.setY 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function Reflector.setFloor 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Reflector.setDirection 0
push argument 0
pop pointer 0
push argument 1
pop this 4
push constant 0
return
function Reflector.decreaseDuration 0
push argument 0
pop pointer 0
push this 5
call ReflectorsGame.getGameStep 0
sub
pop this 5
push this 5
push constant 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 5
push pointer 0
call Reflector.disappear 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Reflector.decreaseCooldown 0
push argument 0
pop pointer 0
push this 6
call ReflectorsGame.getGameStep 0
sub
pop this 6
push this 6
push constant 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 6
push constant 1500
pop this 5
label IF_FALSE0
push constant 0
return
function Reflector.draw 0
push argument 0
pop pointer 0
push constant 0
not
pop this 3
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 3
add
push this 0
push constant 5
add
push this 1
push constant 38
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Reflector.erase 0
push argument 0
pop pointer 0
push constant 0
pop this 3
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 3
add
push this 0
push constant 5
add
push this 1
push constant 38
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Reflector.disappear 0
push argument 0
pop pointer 0
push pointer 0
call Reflector.erase 1
pop temp 0
push constant 1
neg
pop this 0
push constant 1
neg
pop this 1
push constant 1500
pop this 6
push constant 0
return
function Reflector.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
